@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next:before {
    content: ''; /* Set content to an empty string */
}
.slick-prev:before {
    content: '';
}
.slick-slide > div{
    margin: 0 10px;
}